{% extends 'base.html' %}

{% block content %}
<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section wow fadeInDown animated">
                    <h1>About us</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="content">
                <img src="/static/img/logo.png" alt="">
                <p style="margin-left: 160px;">
                    서울특별시와 서울산업진흥원(SBA)의 혁신적 SW인재 양성기관 '싹'(SSAC, Seoul Software Academy Cluster)에서
                    영상 처리를 위한 인공지능(머신러닝/AI) SW개발자 양성 과정을 수강한 3조 오파닭입니다.
                    이는 저희의 2차 및 3차 프로젝트에 해당하는 결과물이며, 앞으로도 지속적인 업데이트와 발전을 위해 노력하겠습니다.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="title-section wow fadeInDown animated">
                    <h1>멤버 소개</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="item active wow fadeInDown animated" data-wow-delay="0.3s">
                <img src="/static/img/member.png" width="1000" height="700" alt="">
            </div>
        </div>
    </div>
</section>
{% endblock %}
