{% extends 'base.html' %}

{% block content %}
<section class="board-list">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-section wow fadeInDown animated">
          <h1>Community</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <div class="filter-menu">
          <ul class="button-group sort-button-group">
            <li class="button active" data-category="all">All</li>
            <li class="button" data-category="Hatchback">Hatchback</li>
            <li class="button" data-category="Sedan">Sedan</li>
            <li class="button" data-category="SportsCar">Sports car</li>
            <li class="button" data-category="SUV">SUV</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row featured isotope">
      <!-- isotope은 이미지가 겹치는것을 방지하는 기능이다 -->
      {% for board in boards %}
      <div class="col-md-3 col-sm-6 col-xs-12 {{ board.image_type }} featured-items isotope-item">
        <div class="product-item">
          <img src="{{ board.image_path }}" class="img-responsive" width="512" height="512" alt="">
          <div class="product-like">
            <span>{{board.voter.count}}</span>
            <a href="{% url 'vote_board' board.id  %}"><i class="pe-7s-like"></i></a>
          </div>
          <div class="product-hit">
            <img src="/static/img/eye_white.png" >
            <span>{{ board.hit }}</span>
          </div>
          <div class="product-title">
            <a href="/board/detail/{{ board.id }}/">
              <span>{{ board.id }}</span>
              <h3>{{ board.title }}</h3>
            </a>
          </div>
        </div>
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-auto-dismissible alert-dismissible notification-container text-center" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ message }}
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>

    <div class="search">
      <div class="row">
        <div class="col-xs-2 col-sm2">
          <select name="searchType" class="form-control">
            <option value="n">-----</option>
            <option value="t">제목</option>
            <option value="c">내용</option>
            <option value="w">작성자</option>
            <option value="tc">제목+내용</option>
          </select>
        </div>
        <div class="col-xs-10 col-sm-10">
          <div class="input-group">
            <input type="text" name="keyword" id="keywordInput" value="" class=" form-control">
            <span class="input-group-btn">
              <button id="searchBtn" class="btn btn-default">검색</button>
            </span>
          </div>
        </div>
      </div>

      <div class="page">
        <div class="row mt-2">
          <div class="col-12">
            <!-- 여기에 부트스트랩 페이지네이션 코드 복붙 -->
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
                {% if boards.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?p={{ boards.previous_page_number }}">Previous</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="#">Previous</a>
                </li>
                {% endif %}
                <li class="page-item">
                  <a class="page-link" href="#">{{ boards.number }} / {{ boards.paginator.num_pages }}</a>
                </li>
                {% if boards.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?p={{ boards.next_page_number }}">Next</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="#">Next</a>
                </li>
                {% endif %}
              </ul>
            </nav>
          </div>
        </div>
        <div class="page-button">
          <button type="button" class="btn btn-primary" onclick="location.href='/board/write/'">글쓰기</button>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
