{% extends 'base.html' %}

{% block content %}
<section class="section-gallery">
    <div class="row">
        <ul class="space-gallery">
            <li>
                <figure class="space-photo">
                    <img src="/static/img/sample.png">
                </figure>
            </li>
            <li>
                <figure class="space-photo">
                    <img src="/static/img/sample.png">
                </figure>
            </li>
            <li>
                <figure class="space-photo">
                    <img src="/static/img/sample.png">
                </figure>
            </li>
            <li>
                <figure class="space-photo">
                    <img src="/static/img/sample.png">
                </figure>
            </li>
        </ul>

        <ul class="space-gallery">
            <li>
                <figure class="space-photo">
                    <img src="/static/img/sample.png">
                </figure>
            </li>
            <li>
                <figure class="space-photo">
                    <img src="/static/img/sample.png">
                </figure>
            </li>
            <li>
                <figure class="space-photo">
                    <img src="/static/img/sample.png">
                </figure>
            </li>
        </ul>
    </div>
</section>



<section class="featured-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titie-section wow fadeInDown animated ">
                    <h1>Community</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="filter-menu">
                    <ul class="button-group sort-button-group">
                        <li class="button active" data-category="all">All</li>
                        <li class="button" data-category="cat-1">Hatchback</li>
                        <li class="button" data-category="cat-2">Sedan</li>
                        <li class="button" data-category="cat-3">Sports car</li>
                        <li class="button" data-category="cat-4">SUV</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row featured isotope">
            <div class="col-md-3 col-sm-6 col-xs-12 cat-3 featured-items isotope-item">
                <div class="product-item">
                    <img src="/static/img/sample.png" class="img-responsive" width="512" height="512" alt="">
                    <div class="sell-meta">
                        <a href="test.html" class="sell-item"><i class="pe-7s-like"></i></a>
                    </div>
                    <div class="product-title">
                        <a href="#">
                            <h3>Cool lingerie</h3>
                            <span>$26</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 cat-2 featured-items isotope-item">
                <div class="product-item">
                    <img src="/static/img/sample.png" class="img-responsive" width="512" height="512" alt="">
                    <div class="product-hover">
                        <div class="product-meta">
                            <a href="#"><i class="pe-7s-like"></i></a>
                        </div>
                    </div>
                    <div class="product-title">
                        <a href="#">
                            <h3>Cool lingerie</h3>
                            <span>$21</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-1 col-xs-1 cat-1 featured-items isotope-item">
                <div class="product-item">
                    <img src="/static/img/sample.png" class="img-responsive" width="512" height="512" alt="">
                    <div class="product-hover">
                        <div class="product-meta">
                            <a href="#"><i class="pe-7s-like"></i></a>
                        </div>
                    </div>
                    <div class="product-title">
                        <a href="#">
                            <h3>Cool lingerie</h3>
                            <span>$31</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 cat-3 featured-items isotope-item">
                <div class="product-item">
                    <img src="/static/img/sample.png" class="img-responsive" width="512" height="512" alt="">
                    <div class="product-hover">
                        <div class="product-meta">
                            <a href="#"><i class="pe-7s-like"></i></a>
                        </div>
                    </div>
                    <div class="product-title">
                        <a href="#">
                            <h3>Cool lingerie</h3>
                            <span>$56</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 cat-2 featured-items isotope-item">
                <div class="product-item">
                    <img src="/static/img/sample.png" class="img-responsive" width="512" height="512" alt="">
                    <div class="product-hover">
                        <div class="product-meta">
                            <a href="#"><i class="pe-7s-like"></i></a>
                        </div>
                    </div>
                    <div class="product-title">
                        <a href="#">
                            <h3>Cool lingerie</h3>
                            <span>$26</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 cat-3 featured-items isotope-item">
                <div class="product-item">
                    <img src="/static/img/sample.png" class="img-responsive" width="512" height="512" alt="">
                    <div class="product-hover">
                        <div class="product-meta">
                            <a href="#"><i class="pe-7s-like"></i></a>
                        </div>
                    </div>
                    <div class="product-title">
                        <a href="#">
                            <h3>Cool lingerie</h3>
                            <span>$36</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 cat-1 featured-items isotope-item">
                <div class="product-item">
                    <img src="/static/img/sample.png" class="img-responsive" width="512" height="512" alt="">
                    <div class="product-hover">
                        <div class="product-meta">
                            <a href="#"><i class="pe-7s-like"></i></a>
                        </div>
                    </div>
                    <div class="product-title">
                        <a href="#">
                            <h3>Cool lingerie</h3>
                            <span>$56</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 cat-3 featured-items isotope-item">
                <div class="product-item">
                    <img src="/static/img/sample.png" class="img-responsive" width="512" height="512" alt="">
                    <div class="product-hover">
                        <div class="product-meta">
                            <a href="#"><i class="pe-7s-like"></i></a>
                        </div>
                    </div>
                    <div class="product-title">
                        <a href="#">
                            <h3>Cool lingerie</h3>
                            <span>$66</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="search-section">
    <div class="container">
        <div class="row subscribe-from">
            <div class="col-md-12">
                <form class="form-inline col-md-12 wow fadeInDown animated">
                    <div class="form-group">
                        <input type="email" class="form-control subscribe" id="email" placeholder="Search...">
                        <button class="suscribe-btn"><i class="pe-7s-search"></i></button>
                    </div>
                </form><!-- end /. form -->
            </div>
        </div><!-- end of/. row -->
    </div><!-- end of /.container -->
</section><!-- end of /.news letter section -->
{% endblock %}