{% extends 'base.html' %}

{% block content %}
<section class="board-update">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-section wow fadeInDown animated ">
                    <h1>게시글 수정</h1>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <div class="form-group"></div>
                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}

                    <label for="id_title">게시글 제목</label>
                    <input type="text" class="form-control" id="id_title" placeholder="게시글 제목" name="title"
                        value="{{ form.title.value }}" />

                    <label for="id_contents">게시글 내용</label>
                    <textarea class="form-control" name="contents" placeholder="게시글 내용"
                        rows="20">{{ form.contents.value }}</textarea>

                    <label for="id_image_show">사용자 디자인</label>
                    <img src="{{ image }}" id="id_image_show" name="image_path" class="img-responsive" width="512"
                        height="512" alt="" />
                    <input type="hidden" class="form-control" id="id_image_path" name="img_path" value="{{ image }}"/>

                    <div class="update-button">
                        <button type="submit" class="btn btn-primary">수정하기</button>
                        <button type="button" class="btn btn-primary" onclick="location.href='..'">돌아가기</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
