{% extends 'base.html' %}

{% block content %}
<section class="review-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="titie-section wow fadeInDown animated ">
                    <h1>Design</h1>
                </div>
            </div>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-sm-8">
                    <div id="feedback" class="carousel slide feedback" data-ride="feedback">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <!-- 아무 작업도 하지 않았을 때의 초기 이미지 -->
                            {% if not images %}
                            <div class="item active">
                                <img src="" width="512" height="512" alt=""
                                    onerror="this.src='/static/img/yellow_onerror.jpg'">
                            </div>
                            {% endif %}
                            <!-- 사용자가 생성하기를 사용했을 때 이미지를 띄워준다 -->
                            {% for image in images %}
                            {% ifequal forloop.counter 1 %}
                            <div class="item active">
                                <img src="{{ image }}" width="512" height="512" alt=""
                                    onerror="this.src='/static/img/yellow_onerror.jpg'">
                            </div>
                            {% else %}
                            <div class="item">
                                <img src="{{ image }}" width="512" height="512" alt=""
                                    onerror="this.src='/static/img/yellow_onerror.jpg'">
                            </div>
                            {% endifequal %}
                            {% endfor %}
                        </div>

                        <!-- Indicators -->
                        <ol class="carousel-indicators review-controlar">
                            <!-- 아무 작업도 하지 않았을 때의 초기 이미지 -->
                            {% if not images %}
                            <li data-target="#feedback" data-slide-to="0" class="active">
                                <img src="" width="512" height="512" alt=""
                                    onerror="this.src='/static/img/yellow_onerror.jpg'">
                            </li>
                            {% endif %}
                            <!-- 사용자가 생성하기를 사용했을 때 이미지를 띄워준다 -->
                            {% for image in images %}
                            {% ifequal forloop.counter0 0 %}
                            <li data-target="#feedback" data-slide-to="{{ forloop.counter0 }}" class="active">
                                <img src="{{ image }}" width="512" height="512" alt=""
                                    onerror="this.src='/static/img/yellow_onerror.jpg'">
                            </li>
                            {% else %}
                            <li data-target="#feedback" data-slide-to="{{ forloop.counter0 }}">
                                <img src="{{ image }}" width="512" height="512" alt=""
                                    onerror="this.src='/static/img/yellow_onerror.jpg'">
                            </li>
                            {% endifequal %}
                            {% endfor %}
                        </ol>
                        <select name="test0">
                            <option>no1</option>
                            <option>no2</option>
                        </select>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#feedback" role="button" data-slide="prev">
                            <span class="pe-7s-angle-left glyphicon-chevron-left" aria-hidden="true"></span>
                        </a>
                        <a class="right carousel-control" href="#feedback" role="button" data-slide="next">
                            <span class="pe-7s-angle-right glyphicon-chevron-right" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>

                <div class="col-sm-4">
                    <h3>Vehicle type</h3>
                    <input type="radio" id="Hatchback" name="type" value="Hatchback">
                    <label for="Hatchback">Hatchback</label>
                    <input type="radio" id="Sedan" name="type" value="Sedan">
                    <label for="Sedan">Sedan</label>
                    <input type="radio" id="SportsCar" name="type" value="SportsCar">
                    <label for="SportsCar">Sports Car</label>
                    <input type="radio" id="SUV" name="type" value="SUV">
                    <label for="SUV">SUV</label>
                    <h3>Brands</h3>
                    <input type="radio" id="AUDI" name="Brands" value="AUDI">
                    <label for="AUDI">AUDI</label>
                    <input type="radio" id="Bentley" name="Brands" value="Bentley">
                    <label for="Bentley">Bentley</label>
                    <input type="radio" id="Benz" name="Brands" value="Benz">
                    <label for="Benz">Benz</label>
                    <input type="radio" id="BMW" name="Brands" value="BMW">
                    <label for="BMW">BMW</label>
                    <input type="radio" id="Chrysler" name="Brands" value="Chrysler">
                    <label for="Chrysler">Chrysler</label>
                    <input type="radio" id="Ferrari" name="Brands" value="Ferrari">
                    <label for="Ferrari">Ferrari</label>
                    <input type="radio" id="Hyundai" name="Brands" value="Hyundai">
                    <label for="Hyundai">Hyundai</label>
                    <input type="radio" id="Kia" name="Brands" value="Kia">
                    <label for="Kia">Kia</label>
                    <input type="radio" id="Porsche" name="Brands" value="Porsche">
                    <label for="Porsche">Porsche</label>
                    <input type="radio" id="Volkswagen" name="Brands" value="Volkswagen">
                    <label for="Volkswagen">Volkswagen</label>
                </div>
                <div>
                    <button type="submit" class="btn btn-info">생성하기</button>
                    <button class="btn btn-info">저장하기</button>
                    <button class="btn btn-info">공유하기</button><br>
                    <span>{{ error }}</span>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
