{% extends 'base.html' %}

{% block content %}
<section class="review-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titie-section wow fadeInDown animated ">
                    <h1>프로젝트 소개</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="feedback" class="carousel slide feedback" data-ride="feedback">
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="carousel-caption">
                            <p> 기술의 발전으로 자동차 산업의 패러다임이 변화하고 있습니다.
                                기존 설계 – 생산 – 판매 전 과정을 관리하는 방식에서 벗어나 컬러, 차종과 옵션뿐만 아니라 개인의 취향이 함유된 외관 및 인테리어를 다양하게 선택할 수
                                있는 ‘오픈 프레임 플랫폼’형태로 나아가고 있습니다. 따라서 저희 오파닭은 일반적인 자동차 디자인과 실험적인 디자인이 가미된 Concept Car, Hyper
                                Car, Classic Car 및 가상의 자동차 디자인을 딥러닝을 통해 학습하고, 인공지능 AI가 다양한 자동차 디자인을 3D 모델링으로 제시해줌으로써
                                고객들이 직접 차량 외관 디자인을 선택해서 추후 생산까지 가능한 웹사이트를 제공하려 합니다. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="titie-section wow fadeInDown animated ">
                    <h1>개발 일정</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="feedback" class="carousel slide feedback" data-ride="feedback">
                <div class="carousel-inner" role="listbox">
                    <div class="item active wow fadeInDown animated" data-wow-delay="0.3s">
                        <img src="/static/img/history.jpg" width="960" height="620" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="titie-section wow fadeInDown animated ">
                    <h1>사진 생성 및 저장 방법</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="feedback" class="carousel slide feedback" data-ride="feedback">
                <div class="carousel-inner" role="listbox">
                    <div class="item active wow fadeInDown animated" data-wow-delay="0.3s">
                        <div class="method">
                            <img src="/static/img/method.jpg" width="1000" height="500" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="titie-section wow fadeInDown animated ">
                    <h1>유의 사항</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="feedback" class="carousel slide feedback" data-ride="feedback">
                <div class="carousel-inner" role="listbox">
                    <div class="item active wow fadeInDown animated" data-wow-delay="0.3s">
                        <div class="method">
                            <img src="/static/img/method.jpg" width="1000" height="500" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="titie-section wow fadeInDown animated ">
                    <h1>문의사항</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 wow fadeInLeft animated">
                <div class="left-content">
                    <h1><span>S</span>how car</h1>
                    <h3>저희 사이트에 방문해주셔서 감사합니다.</h3>
                    <p>이용하시다가 문의사항 혹은 건의사항이 있으시면 언제든 편하게 연락주시면 감사하겠습니다.</p>
                    <div class="contact-info">
                        <p><b>Email:</b> crulangle@naver.com</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 wow fadeInRight animated">
                <form action="" method="" class="contact-form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <input type="text" class="form-control" id="name" placeholder="Your Name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input type="text" class="form-control" id="name" placeholder="Your Email">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <input type="text" class="form-control" id="name" placeholder="Subject">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input type="text" class="form-control" id="name" placeholder="Website URL">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-group">
                                <textarea name="" id="" class="form-control" cols="30" rows="5"
                                    placeholder="Your Message..."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-group">
                                <input type="submit" class="contact-submit" value="Send" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}