{% extends 'base.html' %}

{% block content %}
<section class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-section wow fadeInDown animated">
                    <h1>회원정보</h1>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <div class="form-group">
                    <label>사용자 이메일</label>
                    <textarea class="form-control" readonly>{{ member.user_email }}</textarea>
                    <label>사용자 닉네임</label>
                    <textarea class="form-control" readonly>{{ member.user_nickname }}</textarea>
                    <label>최초가입일</label>
                    <textarea class="form-control" readonly>{{ member.user_created }}</textarea>
                    <label>정보수정일</label>
                    <textarea class="form-control" readonly>{{ member.user_updated }}</textarea>
                    <!-- 유저 저장 이미지 영역 -->
                </div>
                <div class="page-button">
                    <button type="button" class="btn btn-primary" onclick="location.href='/board/mypage/update/'">정보
                        수정</button>
                </div>
            </div>
        </div>

        {% if member.usercar_set.count > 0 %}
        <div class="page-bottom">
            <h2>저장사진</h2>
            <div class="row featured isotope">
                <span>{{member.usercar.img_path}}</span>
                {% for image in images %}
                <div class="col-md-3 col-sm-6 col-xs-12 featured-items isotope-item">
                    <img src={{image.img_path}} class="img-responsive" width="512" height="512" alt="">
                </div>
                {% endfor %}
            </div>

            {%if images.has_next%}
            <a href="?p={{images.next_page_number}}">다음</a>&nbsp&nbsp&nbsp
            {%endif%}
            <span>{{images.number}}</span>&nbsp
            <span> of </span>&nbsp
            <span>{{images.paginator.num_pages}}</span>&nbsp&nbsp
            {%if images.has_previous%}
            <a href="?p={{images.previous_page_number}}">이전</a>&nbsp&nbsp&nbsp
            {%endif%}

            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
