{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="titie-section wow fadeInDown animated ">
                <h1>회원정보 수정</h1>
            </div>
            <div class="col-sm-12">
                {{ error }}
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <form method="POST" action="">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_nickname">사용자 닉네임</label>
                    <input type="text" class="form-control" id="id_nickname" placeholder="사용자 닉네임" name="nickname"
                        value="{{ form.user_nickname.value }}" />
                </div>
                <div class="form-group">
                    <label for="id_password">기존 비밀번호</label>
                    <input type="password" class="form-control" name="password-origin" placeholder="기존 비밀번호"></textarea>
                </div>
                <div class="form-group">
                    <label for="id_password_new">변경할 비밀번호</label>
                    <input type="password" class="form-control" name="password-new" placeholder="변경할 비밀번호"></textarea>
                </div>
                <div class="form-group">
                    <label for="id_password_check">변경할 비밀번호 확인</label>
                    <input type="password" class="form-control" name="password-check"
                        placeholder="변경할 비밀번호 확인"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">수정하기</button>
                <button type="button" class="btn btn-primary" onclick="location.href='..'">돌아가기</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
