<!doctype html>
<html class="no-js" lang="kor">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Show Car</title>
        <meta name="description" content="Design car">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="../Static/css/style.css">

        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
        <![endif]-->
    </head>
    <body>

        <!-- PRELOADER -->
        <div id="preloader">
            <div class="preloader-area">
            	<div class="preloader-box">
            		<div class="preloader"></div>
            	</div>
            </div>
        </div>

        <header class="header-section">
            <nav class="navbar navbar-default">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </button>
                    	<a class="navbar-brand" href="index.html"><b>H</b>ome</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right cart-menu">
                            <li><a href="aboutus.html">About Us</a></li>
                            <li><a href="guide.html">Guide</a></li>
                            <li><a href="design.html">Design</a></li>
                            <li><a href="community.html">Community</a></li>
                            <li><a href="login.html">Login</a></li>
                            <ul class="nav navbar-nav navbar-right cart-menu">
                              <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                  <img src="../Static/img/user.jpg" width="25" height="25" alt="">
                                  <span class="caret"></span></a>
                                  <ul class="dropdown-menu">
                                    <li><a href="">회원정보관리</a></li>
                                    <li><a href="">Logout</a></li>
                                  </ul>
                                </li>
                            </ul>
                          </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container -->
            </nav>
        </header>

        <section class="review-section">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <div class="titie-section wow fadeInDown animated ">
                      <h1>Design</h1>
                  </div>
                </div>
                <div class="col-sm-8">
                  <div id="feedback" class="carousel slide feedback" data-ride="feedback">
                      <!-- Wrapper for slides -->
                      <div class="carousel-inner" role="listbox">
                          <div class="item active">
                              <img src="../Static/img/sample.png" width="512" height="512" alt="">
                          </div>
                          <div class="item">
                              <img src="../Static/img/sample.png" width="512" height="512" alt="">
                          </div>
                          <div class="item">
                              <img src="../Static/img/sample.png" width="512" height="512" alt="">
                          </div>
                          <div class="item">
                              <img src="../Static/img/sample.png" width="512" height="512" alt="">
                          </div>
                          <div class="item">
                              <img src="../Static/img/sample.png" width="512" height="512" alt="">
                          </div>
                      </div>
                      <!-- Indicators -->
                      <ol class="carousel-indicators review-controlar">
                          <li data-target="#feedback" data-slide-to="0" class="active">
                              <img src="../Static/img/sample.png" width="512" height="512" alt="">
                          </li>
                          <li data-target="#feedback" data-slide-to="1">
                              <img src="../Static/img/sample.png" width="512" height="512" alt="">
                          </li>
                          <li data-target="#feedback" data-slide-to="2">
                              <img src="../Static/img/sample.png" width="512" height="512" alt="">
                          </li>
                          <li data-target="#feedback" data-slide-to="3">
                              <img src="../Static/img/sample.png" width="512" height="512" alt="">
                          </li>
                          <li data-target="#feedback" data-slide-to="4">
                              <img src="../Static/img/sample.png" width="512" height="512" alt="">
                          </li>
                      </ol>

                      <!-- Controls -->
                      <a class="left carousel-control" href="#feedback" role="button" data-slide="prev">
                          <span class="pe-7s-angle-left glyphicon-chevron-left" aria-hidden="true"></span>
                      </a>
                      <a class="right carousel-control" href="#feedback" role="button" data-slide="next">
                          <span class="pe-7s-angle-right glyphicon-chevron-right" aria-hidden="true"></span>
                      </a>
                  </div>
                </div>
                <div class="col-sm-4">
                  <h3>Vehicle type</h3>
                  <input type="checkbox" id="Hatchback" name="type" value="Hatchback" checked>
                  <label for="Hatchback">Hatchback</label>
                  <input type="checkbox" id="Sedan" name="type" value="Sedan" checked>
                  <label for="Sedan">Sedan</label>
                  <input type="checkbox" id="Sports car" name="type" value="Sports car">
                  <label for="Sports car">Sports car</label>
                  <input type="checkbox" id="SUV" name="type" value="SUV">
                  <label for="SUV">SUV</label>
                  <h3>Brands</h3>
                      <input type="checkbox" id="AUDI" name="Brands" value="AUDI" checked>
                      <label for="AUDI">AUDI</label>
                      <input type="checkbox" id="Bentley" name="Brands" value="Bentley" checked>
                      <label for="Bentley">Bentley</label>
                      <input type="checkbox" id="Benz" name="Brands" value="Benz">
                      <label for="Benz">Benz</label>
                      <input type="checkbox" id="BMW" name="Brands" value="BMW">
                      <label for="BMW">BMW</label>
                      <input type="checkbox" id="Chrysler" name="Brands" value="Chrysler">
                      <label for="Chrysler">Chrysler</label>
                      <input type="checkbox" id="Ferrari" name="Brands" value="Ferrari">
                      <label for="Ferrari">Ferrari</label>
                      <input type="checkbox" id="Hyundai" name="Brands" value="Hyundai">
                      <label for="Hyundai">Hyundai</label>
                      <input type="checkbox" id="Kia" name="Brands" value="Kia">
                      <label for="Kia">Kia</label>
                      <input type="checkbox" id="Porsche" name="Brands" value="Porsche">
                      <label for="Porsche">Porsche</label>
                      <input type="checkbox" id="Volkswagen" name="Brands" value="Volkswagen">
                      <label for="Volkswagen">Volkswagen</label>
                      <input type="submit" value="전송하기">
                </div>
              </div>
            </div>
        </section>

        <footer class="footer">
            <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <div class="social-media">
                      <ul>
                        <li><a href="#"><i class="fa fa-github"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                      </ul>
                    </div>
                      <p class="center">Copyright 오파닭 All rights reserved. Developed by <i class="fa fa-love"></i><a href="https://ssac.seoul.kr/main/index.jsp">SSAC</a></p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- JQUERY -->
        <script src="../Static/js/vendor/jquery-1.11.2.min.js"></script>
        <script src="../Static/js/vendor/bootstrap.min.js"></script>
        <script src="../Static/js/isotope.pkgd.min.js"></script>
        <script src="../Static/js/owl.carousel.min.js"></script>
        <script src="../Static/js/wow.min.js"></script>
        <script src="../Static/js/custom.js"></script>
    </body>
</html>
